---
apiVersion: v1
kind: Pod
metadata:
  name: mysql
spec:
  containers:
    - name: mysql
      image: mysql:8
      envFrom:
        - secretRef:
            name: mysql-secret
            optional: false
      ports:
        - containerPort: 3306