---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trail-deploy
spec:
  minReadySeconds: 5
  replicas: 4
  selector:
    matchLabels:
      app: web
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: web
        version: "v1.0"
    spec:
      containers:
        - name: web
          image: nginx
          ports:
            - containerPort: 80