---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-1
  labels:
    app: web
  annotations:
    kubernetes.io/change-cause: "nginx"
spec:
  minReadySeconds: 2
  replicas: 4
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: web
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: web
        env: dev
    spec:
      containers:
        - name: web
          image: nginx
          ports:
            - containerPort: 80