---
apiVersion: v1
kind: Pod
metadata:
  name: test-pod
  labels:
    app: test
spec:
  containers:
    - name: test
      image: alpine:latest
      command: ["sleep", "3600"]
      envFrom:
        - configMapRef: 
            name: mysql-cm
